# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import reduce from functools, numpy and pandas
from functools import reduce 
import numpy as np
import pandas as pd

# Challenge 1 - Mapping

#### We will use the map function to clean up words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [2]:
# Run this code:

location = '../data/58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [3]:
# your code here
prophet_no_intro = prophet[568:]
print(' '.join(prophet_no_intro)[:200])

PROPHET

|Almustafa, the{7} chosen and the
beloved, who was a dawn unto his own
day, had waited twelve years in the city
of Orphalese for his ship that was to
return and bear him back to the isle of
h

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [4]:
# your code here
print(prophet_no_intro[:10])

['PROPHET\n\n|Almustafa,', 'the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [5]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    
    # your code here
    return x.split('{')[0]

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`.

In [6]:
%%time

# your code here
prophet_reference = list(map(reference, prophet_no_intro))
print(prophet_reference[:30])

['PROPHET\n\n|Almustafa,', 'the', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto', 'his', 'own\nday,', 'had', 'waited', 'twelve', 'years', 'in', 'the', 'city\nof', 'Orphalese', 'for', 'his', 'ship', 'that', 'was', 'to\nreturn', 'and', 'bear', 'him', 'back']
CPU times: total: 0 ns
Wall time: 0 ns

In [7]:
%%time

# your code here
prophet_reference = list(map(lambda x: x.split('{')[0], prophet_no_intro))
print(prophet_reference[:30])

['PROPHET\n\n|Almustafa,', 'the', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto', 'his', 'own\nday,', 'had', 'waited', 'twelve', 'years', 'in', 'the', 'city\nof', 'Orphalese', 'for', 'his', 'ship', 'that', 'was', 'to\nreturn', 'and', 'bear', 'him', 'back']
CPU times: total: 0 ns
Wall time: 2.67 ms

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [8]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    
    # your code here
    return x.split('\n')

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [9]:
%%time

# your code here
prophet_line = list(map(line_break, prophet_reference))
print(prophet_line[:30])

[['PROPHET', '', '|Almustafa,'], ['the'], ['chosen'], ['and'], ['the', 'beloved,'], ['who'], ['was'], ['a'], ['dawn'], ['unto'], ['his'], ['own', 'day,'], ['had'], ['waited'], ['twelve'], ['years'], ['in'], ['the'], ['city', 'of'], ['Orphalese'], ['for'], ['his'], ['ship'], ['that'], ['was'], ['to', 'return'], ['and'], ['bear'], ['him'], ['back']]
CPU times: total: 0 ns
Wall time: 2.81 ms

In [10]:
%%time

# your code here
prophet_line = list(map(lambda x: x.split('\n'), prophet_reference))
print(prophet_line[:30])

[['PROPHET', '', '|Almustafa,'], ['the'], ['chosen'], ['and'], ['the', 'beloved,'], ['who'], ['was'], ['a'], ['dawn'], ['unto'], ['his'], ['own', 'day,'], ['had'], ['waited'], ['twelve'], ['years'], ['in'], ['the'], ['city', 'of'], ['Orphalese'], ['for'], ['his'], ['ship'], ['that'], ['was'], ['to', 'return'], ['and'], ['bear'], ['him'], ['back']]
CPU times: total: 0 ns
Wall time: 7.31 ms

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [11]:
%%time

# your code here
prophet_flat = [word for sublist in prophet_line for word in sublist]
print(prophet_flat[:30])

['PROPHET', '', '|Almustafa,', 'the', 'chosen', 'and', 'the', 'beloved,', 'who', 'was', 'a', 'dawn', 'unto', 'his', 'own', 'day,', 'had', 'waited', 'twelve', 'years', 'in', 'the', 'city', 'of', 'Orphalese', 'for', 'his', 'ship', 'that', 'was']
CPU times: total: 0 ns
Wall time: 2.54 ms

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [12]:
def word_filter(x):
    '''
    Input: A string
    Output: True if the word is not in the specified list 
    and False if the word is in the list.
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    
    # your code here
    return x not in word_list

In [13]:
%%time

prophet_filter = list(filter(word_filter, prophet_flat))
print(prophet_filter[:30])

['PROPHET', '', '|Almustafa,', 'chosen', 'beloved,', 'who', 'was', 'dawn', 'unto', 'his', 'own', 'day,', 'had', 'waited', 'twelve', 'years', 'in', 'city', 'of', 'Orphalese', 'for', 'his', 'ship', 'that', 'was', 'to', 'return', 'bear', 'him', 'back']
CPU times: total: 0 ns
Wall time: 5.19 ms

In [14]:
%%time

word_list = ['and', 'the', 'a', 'an']

prophet_filter = list(filter(lambda x: x not in word_list, prophet_flat))
print(prophet_filter[:30])

['PROPHET', '', '|Almustafa,', 'chosen', 'beloved,', 'who', 'was', 'dawn', 'unto', 'his', 'own', 'day,', 'had', 'waited', 'twelve', 'years', 'in', 'city', 'of', 'Orphalese', 'for', 'his', 'ship', 'that', 'was', 'to', 'return', 'bear', 'him', 'back']
CPU times: total: 0 ns
Wall time: 0 ns

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

# Bonus Challenge

Rewrite the `word_filter` function above to not be case sensitive.

In [15]:
def word_filter_case(x):
   
    word_list = ['and', 'the', 'a', 'an']
    
    # your code here
    return x.lower() not in word_list

In [16]:
%%time

prophet_filter = list(filter(word_filter, prophet_flat))
print(prophet_filter[:30])

['PROPHET', '', '|Almustafa,', 'chosen', 'beloved,', 'who', 'was', 'dawn', 'unto', 'his', 'own', 'day,', 'had', 'waited', 'twelve', 'years', 'in', 'city', 'of', 'Orphalese', 'for', 'his', 'ship', 'that', 'was', 'to', 'return', 'bear', 'him', 'back']
CPU times: total: 0 ns
Wall time: 6.7 ms

In [17]:
%%time

word_list = ['and', 'the', 'a', 'an']
prophet_filter = list(filter(lambda x: x.lower() not in word_list, prophet_flat))
print(prophet_filter[:30])

['PROPHET', '', '|Almustafa,', 'chosen', 'beloved,', 'who', 'was', 'dawn', 'unto', 'his', 'own', 'day,', 'had', 'waited', 'twelve', 'years', 'in', 'city', 'of', 'Orphalese', 'for', 'his', 'ship', 'that', 'was', 'to', 'return', 'bear', 'him', 'back']
CPU times: total: 15.6 ms
Wall time: 6.23 ms

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [18]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    
    # your code here
    return a + ' ' + b

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [19]:
%%time

# your code here
prophet_string = reduce(concat_space, prophet_filter)
print(prophet_string[:200])

PROPHET  |Almustafa, chosen beloved, who was dawn unto his own day, had waited twelve years in city of Orphalese for his ship that was to return bear him back to isle of his birth.  in twelfth year, o
CPU times: total: 93.8 ms
Wall time: 123 ms

In [20]:
%%time

# your code here
prophet_string = reduce(lambda a, b: a + ' ' + b, prophet_filter)
print(prophet_string[:200])

PROPHET  |Almustafa, chosen beloved, who was dawn unto his own day, had waited twelve years in city of Orphalese for his ship that was to return bear him back to isle of his birth.  in twelfth year, o
CPU times: total: 15.6 ms
Wall time: 116 ms

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will connect to Ironhack's database and retrieve the data from the *pollution* database. Select the *beijing_pollution* table and retrieve its data.

In [21]:
# I didn't know how to connect to to ironhack's database so I used a database of Changping's pollution (a district of beijin) I found online
changping_pollution = pd.read_csv('../data/PRSA_Data_Changping_20130301-20170228.csv')
changping_pollution

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,3.0,6.0,13.0,7.0,300.0,85.0,-2.3,1020.8,-19.7,0.0,E,0.5,Changping
1,2,2013,3,1,1,3.0,3.0,6.0,6.0,300.0,85.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Changping
2,3,2013,3,1,2,3.0,3.0,22.0,13.0,400.0,74.0,-3.0,1021.3,-19.9,0.0,ENE,0.2,Changping
3,4,2013,3,1,3,3.0,6.0,12.0,8.0,300.0,81.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Changping
4,5,2013,3,1,4,3.0,3.0,14.0,8.0,300.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Changping
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,28.0,47.0,4.0,14.0,300.0,NaN,11.7,1008.9,-13.3,0.0,NNE,1.3,Changping
35060,35061,2017,2,28,20,12.0,12.0,3.0,23.0,500.0,64.0,10.9,1009.0,-14.0,0.0,N,2.1,Changping
35061,35062,2017,2,28,21,7.0,23.0,5.0,17.0,500.0,68.0,9.5,1009.4,-13.0,0.0,N,1.5,Changping
35062,35063,2017,2,28,22,11.0,20.0,3.0,15.0,500.0,72.0,7.8,1009.6,-12.6,0.0,NW,1.4,Changping
35063,35064,2017,2,28,23,20.0,25.0,6.0,28.0,900.0,54.0,7.0,1009.4,-12.2,0.0,N,1.9,Changping

Let's look at the data using the `head()` function.

In [22]:
# your code here
print(changping_pollution.head())

   No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    3.0   6.0  13.0   7.0  300.0  85.0  -2.3
1   2  2013      3    1     1    3.0   3.0   6.0   6.0  300.0  85.0  -2.5
2   3  2013      3    1     2    3.0   3.0  22.0  13.0  400.0  74.0  -3.0
3   4  2013      3    1     3    3.0   6.0  12.0   8.0  300.0  81.0  -3.6
4   5  2013      3    1     4    3.0   3.0  14.0   8.0  300.0  81.0  -3.5

     PRES  DEWP  RAIN   wd  WSPM    station
0  1020.8 -19.7   0.0    E   0.5  Changping
1  1021.3 -19.0   0.0  ENE   0.7  Changping
2  1021.3 -19.9   0.0  ENE   0.2  Changping
3  1021.8 -19.1   0.0  NNE   1.0  Changping
4  1022.3 -19.4   0.0    N   2.1  Changping

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [23]:
# as my dataset contains hourly measurements i will create per minute measurements
def per_minute(x):
    '''
    Input: A numerical value
    Output: The value divided by 60
        
    Example:
    Input: 48
    Output: 0.8
    '''
    
    # your code here
    return x / 60

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [24]:
%%time

# I will apply to PM2.5 and PM10 instead
pm25_per_minute = changping_pollution[['PM2.5', 'PM10']].apply(per_minute)
pm25_per_minute

CPU times: total: 0 ns
Wall time: 4.94 ms

          PM2.5      PM10
0      0.050000  0.100000
1      0.050000  0.050000
2      0.050000  0.050000
3      0.050000  0.100000
4      0.050000  0.050000
...         ...       ...
35059  0.466667  0.783333
35060  0.200000  0.200000
35061  0.116667  0.383333
35062  0.183333  0.333333
35063  0.333333  0.416667

[35064 rows x 2 columns]

In [25]:
%%time

# I will apply to PM2.5 and PM10 instead
pm25_per_minute = changping_pollution[['PM2.5', 'PM10']].apply(lambda x: x/60)
pm25_per_minute

CPU times: total: 0 ns
Wall time: 5.85 ms

          PM2.5      PM10
0      0.050000  0.100000
1      0.050000  0.050000
2      0.050000  0.050000
3      0.050000  0.100000
4      0.050000  0.050000
...         ...       ...
35059  0.466667  0.783333
35060  0.200000  0.200000
35061  0.116667  0.383333
35062  0.183333  0.333333
35063  0.333333  0.416667

[35064 rows x 2 columns]

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [26]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # your code here
    return np.std(x)/(x.count()-1)

In [27]:
print(sample_sd(pd.Series([1,2,3,4])))

0.37267799624996495

In [28]:
# i will test the function on our dataset:

std_dev_PM25_per_minute = sample_sd(pm25_per_minute['PM2.5'])
std_dev_PM25_per_minute

3.515504072320924e-05